.wrapper {
  width: 100%;
  min-width: 350px;
  min-height: 100vh;

  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  background: var(--bg);

  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;

  .logo_wrapper {
    width: 45px;
    height: 45px;

    position: absolute;
    top: 40px;
    left: 50%;
    transform: translate(-50%, 0);

    overflow: hidden;

    border-radius: 50%;

    .logo {
      width: 100%;
      height: 100%;

      object-fit: cover;
    }
  }
}
