.button {
  width: 100%;

  padding: 0.55rem;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.35rem;

  background: var(--bg-main);
  border: 0.9px solid var(--color-300);
  border-radius: var(--border-radius-300);

  font-size: 0.875rem;
  color: var(--color-700);

  transition: 0.25s;

  &:hover {
    color: var(--color-500);
    background: var(--bg-main-hover);
  }

  &:active {
    background: var(--bg-main-active);
  }

  @media (max-width: 768px) {
    cursor: default;
  }

  &.disabled,
  &.load {
    background: var(--bg-main-hover);

    cursor: not-allowed;

    color: var(--color-300);

    &:hover,
    &:active {
      background: var(--bg-main-hover);
    }
  }

  .loader {
    color: var(--color-500);

    animation: rotateAnimation 0.9s infinite linear;

    @keyframes rotateAnimation {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }

  &.gradient {
    position: relative;

    border: 0;

    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.092);

    &::before {
      content: '';
      position: absolute;
      inset: -0.9px;
      transform: translate(0);
      z-index: -1;
      opacity: 0.8;
      background: linear-gradient(135deg, #8964e8 0, #25a6e9 100%);
      border-radius: var(--border-radius-300);
      animation: glow-enter-blur 1s ease 0.5s;
      animation-fill-mode: both;
    }
  }

  &.blue {
    background: var(--blue-badge-bg);
    border-color: var(--blue-badge-border-color);

    color: var(--blue-badge-color);

    &:hover {
      background: var(--blue-badge-bg-hover);
    }

    &:active {
      background: var(--blue-badge-bg-active);
    }

    &.disabled,
    &.load {
      background: var(--blue-badge-bg-active);

      color: var(--blue-badge-color-disabled);

      cursor: not-allowed;

      .loader {
        color: var(--blue-badge-color);
      }

      &:hover,
      &:active {
        background: var(--blue-badge-bg-active);
      }
    }
  }

  &.red {
    padding: 0.375rem 0.75rem;

    justify-content: start;

    background: transparent;
    border: 0;

    color: var(--red-badge-color);

    &:hover {
      background: var(--red-badge-bg-hover);
    }

    &:active {
      background: var(--red-badge-bg-active);
    }

    .loader {
      color: var(--red-badge-color);
    }

    &.disabled,
    &.load {
      background: var(--red-badge-bg-active);

      opacity: 0.6;

      cursor: not-allowed;

      &:hover,
      &:active {
        background: var(--red-badge-bg-active);
      }
    }
  }
}
