.footer {
  width: 100%;
  height: 160px;
  max-width: 38rem;

  padding: 0 1.25rem;

  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1.25rem;

  .text {
    line-height: 1.6;

    font-size: 0.955rem;
    color: var(--color-500);
  }

  .links {
    display: flex;
    flex-wrap: wrap;
    gap: 0.55rem;

    .link {
      display: flex;
      align-items: center;
      gap: 0.25rem;

      font-size: 0.955rem;
      color: var(--color-500);

      &:hover {
        color: var(--color-700);
      }
    }
  }
}
