.form {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: stretch;
  justify-content: center;
  -webkit-box-align: stretch;
  flex-direction: column;
  gap: 1.65rem;

  .container {
    display: flex;
    flex-direction: column;
    gap: 0.85rem;
  }

  .couple {
    display: flex;
    align-items: center;
    gap: 0.975rem;

    @media (max-width: 578px) {
      flex-direction: column;
    }
  }

  .success_message,
  .error_message {
    padding: 0.55rem;

    display: flex;
    align-items: center;
    gap: 0.35rem;

    font-size: 0.8rem;
  }

  .success_message {
    background: var(--green-badge-bg);
    border-radius: var(--border-radius-400);

    color: var(--green-badge-color);
  }

  .error_message {
    background: var(--red-badge-bg);
    border-radius: var(--border-radius-400);

    color: var(--red-badge-color);
  }

  .link {
    text-align: center;

    line-height: 1.38462;

    font-size: 0.8125rem;
    color: var(--color-600);

    &:hover {
      color: var(--color-700);
    }
  }

  .text {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 0.55rem;

    .title {
      font-size: 1.525rem;
      font-weight: 500;
      color: var(--color-800);
    }

    .desc {
      line-height: 1.38462;

      font-size: 0.8125rem;
      color: var(--color-600);
    }
  }

  .devider {
    padding: 0.55rem 0;

    display: flex;
    align-items: center;

    hr {
      height: 0.5px;

      flex-grow: 1;

      background: var(--color-300);
      border: 0;
    }

    span {
      margin: 0 18px;

      font-size: 0.875rem;
      color: var(--color-500);
    }
  }
}
