.wrapper {
  width: 100vw;
  height: 100vh;

  position: fixed;
  left: 0;
  top: 0;
  z-index: 90;

  background: rgb(19 19 22 / 1);

  display: flex;
  align-items: center;
  justify-content: center;

  .loader {
    width: 150px;
    height: 150px;

    transform: rotateZ(45deg);
    perspective: 1000px;

    border-radius: 50%;

    color: #fff;

    &:before,
    &:after {
      content: '';

      width: inherit;
      height: inherit;

      display: block;

      position: absolute;
      top: 0;
      left: 0;

      transform: rotateX(70deg);

      border-radius: 50%;

      animation: 1s spin linear infinite;
    }

    &:after {
      transform: rotateY(70deg);

      color: #ff3d00;

      animation-delay: 0.4s;
    }

    @keyframes rotate {
      0% {
        transform: translate(-50%, -50%) rotateZ(0deg);
      }
      100% {
        transform: translate(-50%, -50%) rotateZ(360deg);
      }
    }

    @keyframes rotateccw {
      0% {
        transform: translate(-50%, -50%) rotate(0deg);
      }
      100% {
        transform: translate(-50%, -50%) rotate(-360deg);
      }
    }

    @keyframes spin {
      0%,
      100% {
        box-shadow: 0.2em 0px 0 0px currentcolor;
      }
      12% {
        box-shadow: 0.2em 0.2em 0 0 currentcolor;
      }
      25% {
        box-shadow: 0 0.2em 0 0px currentcolor;
      }
      37% {
        box-shadow: -0.2em 0.2em 0 0 currentcolor;
      }
      50% {
        box-shadow: -0.2em 0 0 0 currentcolor;
      }
      62% {
        box-shadow: -0.2em -0.2em 0 0 currentcolor;
      }
      75% {
        box-shadow: 0px -0.2em 0 0 currentcolor;
      }
      87% {
        box-shadow: 0.2em -0.2em 0 0 currentcolor;
      }
    }
  }
}
