.wrapper {
  width: 100%;

  padding-top: 1.65rem;
  padding-bottom: 4.65rem;
  margin-inline: auto;

  display: flex;
  flex-direction: column;

  .container {
    width: 100%;
    height: 100%;

    padding: 0 1.25rem;

    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    .text {
      width: 100%;

      display: flex;
      flex-direction: column;
      gap: 0.55rem;

      .title {
        font-size: 1.575rem;
        color: var(--color-800);
      }

      .info {
        display: flex;
        align-items: center;

        .date,
        .views {
          line-height: 1.6;

          font-size: 0.875rem;
          color: var(--color-400);
        }

        .views {
          &:before {
            content: '•';
            margin: 0 0.35rem;
          }
        }
      }

      .desc {
        font-size: 0.955rem;
        color: var(--color-600);
      }
    }

    .image_wrapper {
      width: 100%;
      height: auto;

      .image {
        width: 100%;
        height: 100%;

        object-fit: cover;

        border: 0.8px solid var(--color-300);
        border-radius: var(--border-radius-700);
      }
    }

    .link {
      text-decoration: underline;

      font-style: italic;
      color: #47a3f3;

      strong {
        color: #47a3f3;
      }
    }

    .code {
      padding: 0.15rem 0.35rem;

      background: var(--bg-300);
      border: 0.8px solid var(--color-300);
      border-radius: var(--border-radius-300);

      color: var(--color-800);
      font-size: 0.865rem;

      &.lang {
        padding: 0;

        background: 0;
        border: 0;
        border-radius: 0;

        color: var(--color-code-main);
      }
    }

    h1 {
      padding-top: 1.85rem;
      padding-bottom: 0.85rem;

      border-bottom: 1px solid var(--color-300);

      font-size: 1.985rem;
      font-weight: 500;
      color: var(--color-800);

      .code {
        font-size: 1.675rem;
      }
    }

    h2,
    h3,
    h4 {
      font-size: 1.685rem;
      font-weight: 500;
      color: var(--color-800);

      .code {
        font-size: 1.475rem;
      }
    }

    h3 {
      font-size: 1.505rem;

      .code {
        font-size: 1.395rem;
      }
    }

    h4 {
      font-size: 1.285rem;

      .code {
        font-size: 1.15rem;
      }
    }

    p {
      line-height: 1.7;

      font-size: 0.955rem;
      color: var(--color-600);
    }

    .code_wrapper {
      display: flex;
      flex-direction: column;
      gap: 0.85rem;

      position: relative;

      background: var(--bg-code);
      border: 0.8px solid var(--color-300);
      border-radius: var(--border-radius-700);

      pre {
        width: 100%;
        height: 100%;

        padding: 0.95rem 0.85rem;

        overflow: hidden;
        overflow-x: auto;

        -ms-overflow-style: 0;
        scrollbar-width: 0;
      }

      .copy {
        padding: 0.35rem;

        position: absolute;
        right: 0.45rem;
        top: 0.45rem;

        background: var(--bg-code-300);
        border: 0.8px solid var(--bg-code-hover);
        border-radius: var(--border-radius-400);

        cursor: pointer;

        font-size: 1.755rem;
        color: var(--color-code-main);

        @media (max-width: 585px) {
          cursor: default;
        }
      }
    }

    ul,
    ol {
      line-height: 1.8;

      padding-left: 1.125em;
    }

    li {
      font-size: 0.955rem;
      color: var(--color-600);

      &::marker {
        color: var(--color-400);
        font-size: 1.15rem;
      }

      ul,
      ol {
        line-height: 1.8;

        padding-left: 1.525em;

        li {
          &::marker {
            color: var(--color-400);
            font-size: 1.15rem;
          }
        }
      }
    }

    strong {
      color: var(--color-800);
    }

    blockquote {
      display: block;

      margin: 1rem 0;
      padding-left: 1.525rem;

      border-left: 0.3rem solid var(--color-300);

      line-height: 1.7;

      font-style: italic;
    }

    del {
      font-style: italic;
    }
  }
}
