.wrapper {
  width: 100%;
  height: 100%;

  .container {
    display: flex;
    flex-direction: column;
    gap: 1.55rem;

    .title {
      font-size: 1.375rem;
      font-weight: 600;
      color: var(--color-800);
    }
  }
}
