.wrapper {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  gap: 1.85rem;

  .title {
    font-size: 1.375rem;
    font-weight: 500;
    color: var(--color-800);
  }

  .posts {
    display: flex;
    flex-direction: column;
    gap: 0.85rem;

    .post {
      width: 100%;

      padding: 1.05rem 0.75rem;

      display: flex;
      align-items: center;
      justify-content: space-between;

      border: 0.8px solid var(--color-300);
      border-radius: var(--border-radius-500);

      &:hover {
        background: var(--bg-main-hover);

        .icon {
          transform: rotate(45deg);
        }
      }

      @media (max-width: 585px) {
        cursor: default;
      }

      .content {
        width: 100%;
        height: 100%;

        .title {
          font-size: 1.05rem;
          font-weight: 500;
          color: var(--color-800);

          span {
            padding: 0.15rem 0.35rem;

            background: var(--green-badge-bg);
            border-radius: var(--border-radius-500);
            border: 0.8px solid var(--green-badge-border-color);

            font-size: 0.785rem;
            font-weight: 400;
            color: var(--green-badge-color);
          }
        }

        .info {
          display: flex;
          align-items: center;

          .date {
            line-height: 1.6;

            font-size: 0.875rem;
            color: var(--color-400);
          }
        }
      }

      .icon {
        color: var(--color-600);

        transition: 0.25s;
      }
    }
  }
}
